.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

.column {
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;
}

.table th, .table td {
  border: 1px solid #ddd;
}

.table th {
  background-color: palevioletred;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #F9EBEA
  ; /*#ddd*/
}

.action-button {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button img {
  width: 20px;
  height: 20px;
}

.action-button:hover {
  background-color: #f2f2f2;
}

.btn-edit {
  background-color: #5499C7; /* Color azul */
  color: #fff; /* Color del texto blanco */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete {
  background-color: #CD6155; /* Color rojo */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-hide {
  background-color: #F7DC6F; /* Color amarillo */
  color: #000; /* Color del texto negro */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #007bff; 
}

.btn-delete:hover {
  background-color: #dc3545; 
}

.btn-hide:hover {
  background-color: #ffc107; 
}